<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">

        <a class="navbar-brand" routerLink="/machines">
          <i class="fa fa-wrench" aria-hidden="true"></i> FaultAssist
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-angle-double-down"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/machines" routerLinkActive="active">Eszközök</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/faultdiagram" routerLinkActive="active">Diagramok</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statisztikák</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link ">Kijelentkezés</a></li>
          </ul>
        </div>
      </div>
    </nav>

<router-outlet>
</router-outlet>

