<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">

        <a class="navbar-brand">
          <i class="fa fa-wrench" aria-hidden="true"></i> {{ title }}
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-angle-double-down"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" *ngIf="showNavbar" routerLink="/machines" routerLinkActive="active" id="machinebtn">Eszközök</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="showNavbar" routerLink="/faultdiagram" routerLinkActive="active" id="diagrambtn">Diagramok</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="showNavbar" routerLink="/statistics" routerLinkActive="active" id="statisticbtn">Statisztikák</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="showNavbar" routerLink="/operator" routerLinkActive="active" id="operatorbtn">Operátor nézet</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" *ngIf="showNavbar" routerLink="/login" routerLinkActive="active" (click)="toggleHide()" id="loginbtn">Kijelentkezés</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

<router-outlet>
</router-outlet>

