.title{
    font-size: xxx-large;
}
.fa-close{
    color: red;
}
.fa-check{
    color: #4CAF50;
}
.type1 > *{
    font-size: xxx-large;
}
.btn{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px 20px;
}
.type2 > *{
    font-size: xx-large;
}
.optfield{
    width: 75%;
}