.title{
    font-size: xxx-large;
}
.fa-close{
    color: red;
}
.fa-check{
    color: #4CAF50;
}
.type1 > *{
    font-size: 45px;
}
.type2 > *{
    font-size: xx-large;
}
.optfield{
    width: 75%;
}

.optfield{
    width: 75%;
}
.btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
}
