<page-heading>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center title text-center" >{{questiontext}}</div> 
</div>
</page-heading>
<div class="container">
    <div class="row justify-content-around align-items-bottom">
        <button  class="btn btn-primary" routerLink="/suggestion" routerLinkActive="active"><i class="fa fa-check"></i> Igen</button>
        <button  class="btn btn-primary" routerLink="/suggestion" routerLinkActive="active"><i class="fa fa-close"></i> Nem</button>
    </div>
</div>
