.frameWrapper {
    position: relative;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    overflow: hidden;
}
.frameWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fa-close{
    color: red;
}
.fa-check{
    color: #4CAF50;
}
.solutioncontainer{
    padding-bottom: 50px;
}
.title{
    font-size: 40px;
}
.type1 > *{
    font-size: 45px;
}
.type2 > *{
    font-size: xx-large;
}
.optfield{
    width: 75%;
}
.btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

hr{
    height:2px;
    width: 80%;
    border-width:0;
    color:lightgray;
    background-color:lightgray;
    margin-top: 20px;
}
