.center {
    height: 100%;
    width: 100%;
    position: relative;
    top: 15%;
}
.optfield{
    width: 75%;
}
.btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: xx-large;
}

.row > * {
    font-size: xx-large;
}